body{
    /* bo khoang cach tren */
    padding: 0px;
    /* bo khoang cach trai */
    margin: 0px;
    width: 1600px;
    height: 4200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f5f6f7;
    
}
.header{
    background-color: white;
    width: 1600px;
    padding: 0px;
    margin: 0px;
    height: 18px;
    margin-left: 0px;

}.header ul{
    width: 1600px;
    margin: 0px;
    padding: 0px; 
    display: flex;
    margin: auto;
    margin: 20px;
    list-style: none;
    text-align: center;
}
.header ul li{
    margin: auto;
    display: inline;
    text-align: center;
    border-right: 1px solid rgb(226, 226, 70);
}.header ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}
.header ul li:last-child{
    border-right-width: 0px;
}
.banner{
    padding: 0px;
    margin: 0px;
    background: #fe8237;
    width: 1600px;
    height: 135px;
    display: flex;
   
}


.sanphamto{
    padding: 0px;
    margin: 0px;
    background-color: #f5f6f7;
    width: 1100px ;
    margin: auto;
    display: flex;
}.danhmuc{
    margin: 0px;
    padding: 0px;
    width: 250px;

}.sanphamto .tintucchitiet{
    padding: 20px;
    width: 900px;
    background-color: white;
   
}.sanphamto .tintucchitiet .anh{
   
   text-align: center;
}
.danhmuc  ul li{
    list-style: none;
}
.danhmuc ul li a{
    text-decoration: none;
}

.footer{
    width: 1600px;
    background: url(../images/bg_footer.webp);
}
footer{
    padding-top: 8px;
    height: 500px;
    width: 1100px;
    margin: auto;
   
}
footer ul{
    padding: 0px;
    margin: 0px;
   
    margin: 30px;
    list-style: none;
    /* position: relative;  */
    display: flex;
}
footer ul li{
    /* position: absolute; */
    width: 300px;
    /* height: 230px; */
    border-right: 1px solid  black;
}footer ul li:last-child{
    border-right-width:0px ;
}
.diachi,.sdt,.gmail{
    margin: 0px;
    padding: 0px;
    display: flex;
    padding-bottom: 10px;
}.diachi img,.sdt img,.gmail img{
    padding-right: 10px;
}.diachi a,.sdt a,.gmail a{
    text-decoration: none;
}.x2 {
    display: block;
    margin-bottom:13px ;
    padding: 10px;
}.x2 a{
    text-decoration: none;
}
footer ul li button{
    padding: 0px;
    margin: 0px;
    width: 250px;
    height: 40px;
}footer ul li button p{
    float: left;
}footer ul li button div{
    padding: 0px;
    margin: 0px;
    background-color: aquamarine;
    height: 38px;
    width: 40px;
    float: right;
}footer ul li button div p{
    padding-left: 5px;
}.banquyen{
    
    width: 520px;
}.x3{
    margin: 20px;
    height: 20px;
}.logo{
    height: 60px;
    width: 150px;
    margin: 0px;
    padding: 0px;
}.logo a{
    height: 60px;
    width: 40px;
}