body{
    /* bo khoang cach tren */
    padding: 0px;
    /* bo khoang cach trai */
    margin: 0px;
    width: 1600px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f5f6f7;
    
}
.header{
    background-color: white;
    width: 1600px;
    padding: 0px;
    margin: 0px;
    height: 18px;
    margin-left: 0px;

}.header ul{
    width: 1600px;
    margin: 0px;
    padding: 0px; 
    display: flex;
    margin: auto;
    margin: 20px;
    list-style: none;
    text-align: center;
}
.header ul li{
    margin: auto;
    display: inline;
    text-align: center;
    border-right: 1px solid rgb(226, 226, 70);
}.header ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}
.header ul li:last-child{
    border-right-width: 0px;
}
.banner{
    padding: 0px;
    margin: 0px;
    background: #fe8237;
    width: 1600px;
    height: 135px;
    display: flex;
   
}

.sanphamto{
    padding: 0px;
    margin: 0px;
    background-color: #f5f6f7;
    width: 1136px ;
   
    margin: auto;
    display: flex;

}
.motasanpham{
    padding: 0px;
    margin: 0px;
    width: 1130px;
    height: 600px;
    margin: auto;
    display: flex;
    background-color: white;
}
.motasanpham .left{
    padding: 0px;
    margin: 0px;
    height:500px ;
    width:450px ;

}.motasanpham .left ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    
}
.anhto{
    padding: 0px;
    margin: 0px;
   
}
.anhto img{
    padding: 0px;
    margin: 0px;
    width: 430px;
    height: 430px;
    border: 1px solid wheat;
}


.motasanpham .left ul li{
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 80px;
    height: 80px;
    padding-right: 7px;
    padding-top: 5px;
}.motasanpham .left ul li img{
    padding: 0px;
    margin: 0px;
    width: 75px;
    height: 75px;
    border: 1px solid wheat;
}
.motasanpham .main {
    height: 450px;
    margin-left: 30px;
    border-right: 1px solid wheat;
   
    
}
.motasanpham .right{
    margin: 0px;
    padding: 0px;
    width: 230px;
    height: 500px;
}

.xuatxu, .gia{
    width: 400px;
    border-bottom: 1px solid rgb(209, 140, 13);
}.gia{
    color: #fe8237;
}.soluong button{
    width: 350px;
    height: 40px;
}.main .dathang{
    margin-top: 20px;
    margin-left: 50px;
}
.main .dathang button{
    width: 170px;
    height:40px ;
    padding-bottom: 5px;
    background-color: rgb(233, 144, 76)  ;
}
.right ul{
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
}
.right ul li {
    padding: 0px;
    margin: 0px;
    width: 170px;
    padding-top: 5px;
    margin: auto;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid  rgb(233, 144, 76);
}.right ul li:last-child{
    border-bottom-width: 0px ;
}
.right ul li img{
    margin: auto;
}.thongtinsanpham{
    padding: 0px;
    margin: 0px;
    width: 1130px;
    
    margin: auto;
}.thongtinsanpham .chitiet{
    margin: 0px;
    padding: 0px;
}
.thongtinsanpham .chitiet p{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}














.motasanpham .main{
    padding: 0px;
    margin: 0px;
    width: 465px;
    height: 590px;
}
.sanphambanchay .mathang{
    padding: 0px;
    margin: 0px;
    width: 1100px;
    height: 600px;
    border-top: 2px solid wheat;
}.sanphambanchay .mathang ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    width: 300px;
    height: 300px;
    
}.sanphambanchay .mathang ul li{
    margin: 0px;
    padding: 0px;
    margin: 5px 5px 0px 5px;
    position: relative;
    
   
}.sanphambanchay a{
    text-decoration: none;
}
.sanphambanchay .mathang ul li img{
   width: 265px ;
  
}.sanphambanchay .mathang ul li .gia{
    margin: 0px;
    padding: 0px;
    background-color: white;
    
}.tensp{
    background-color: white;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom:0px;
    width:265px ;
    height: 80px;
}.tensp div{
    color: #fe8237;
    font-size: 18px;
}footer{
    padding: 0px;
    margin: 0px;
    height: 500px;
    width: 1100px;
    margin: auto;
    background: url(../images/bg_footer.webp);
}
footer ul{
    padding: 0px;
    margin: 0px;
   
    margin: 30px;
    list-style: none;
    /* position: relative;  */
    display: flex;
}
footer ul li{
    /* position: absolute; */
    width: 300px;
    /* height: 230px; */
    border-right: 1px solid  black;
}footer ul li:last-child{
    border-right-width:0px ;
}
.diachi,.sdt,.gmail{
    margin: 0px;
    padding: 0px;
    display: flex;
    padding-bottom: 10px;
}.diachi img,.sdt img,.gmail img{
    padding-right: 10px;
}.diachi a,.sdt a,.gmail a{
    text-decoration: none;
}.x2 {
    display: block;
    margin-bottom:13px ;
    padding: 10px;
}.x2 a{
    text-decoration: none;
}
footer ul li button{
    padding: 0px;
    margin: 0px;
    width: 250px;
    height: 40px;
}footer ul li button p{
    float: left;
}footer ul li button div{
    padding: 0px;
    margin: 0px;
    background-color: aquamarine;
    height: 38px;
    width: 40px;
    float: right;
}footer ul li button div p{
    padding-left: 5px;
}.banquyen{
    
    width: 520px;
}.x3{
    margin: 20px;
    height: 20px;
}.logo{
    height: 60px;
    width: 150px;
    margin: 0px;
    padding: 0px;
}.logo a{
    height: 60px;
    width: 40px;
}